:root {
  /* Active scheme is set explicitly on documentElement to drive light-dark() */
  color-scheme: light dark;

  --body-background-color: light-dark(#fafafa, #050505);
  --body-font-color: light-dark(#333333, #cccccc);
  --box-background-color: light-dark(#fdfdfd, #020202);
  --box-border-color: light-dark(#cccccc, #333333);
  --box-border-radius: 6px;
  --box-hover-color: light-dark(#f6f6f6, #1e1e1e);
  --box-shadow: 0px 1px 1px light-dark(#1f23280f, #e0dcd70f),
    0px 1px 3px light-dark(#1f23280f, #e0dcd70f);
  --link-color-visited: light-dark(#570987, #936aad);
  --link-color: var(--body-font-color);
  --pill-background-color-primary: light-dark(#333333, #cccccc);
  --pill-background-color-secondary: light-dark(#888888, #777777);
  --pill-font-color: light-dark(#ffffff, #000000);
  --progress-bar-color: #008000;
  --release-description-background-color: light-dark(#f6f8fa, #090705);
  --release-description-code-background-color: #818b981f;
  --release-description-pre-background-color: #818b981f;
  --svg-fill-color: var(--body-font-color);
}

body,
[popover] {
  background-color: var(--body-background-color);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--body-font-color);
}

a {
  color: var(--link-color);
  text-underline-offset: 2px;
}
